* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}
.jumbotron {
  background: url('./img/home4.jpeg') no-repeat;
  background-size: cover;
  /*height: 450px;*/
  margin-top: 10%;
}
.display-3 {
    font-size: 3.5rem;
    /*text-align: center;*/
    color:  #101a23;
}

/*.form-control {
  border-left-style: none;
  border-right-style: none;
}

.input-group-addon {
  background-color: #fff;
}*/
.btn-dark {
  background-color: #396182;
  border-color: #396182;
  /*height: 50px;*/
  color: #fff;
}
a#detailed-search {
  color: #396182;
  background-color: #ffffffb3;
}
.fa-bell-o {
  color: #ffd753;
}

ul {
  display: inherit;
  list-style: none;
}
.btn-light {
  display: block;
}
